<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 开启自动驼峰命名规则（camel case）映射 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	<!-- 设置别名 -->
	<typeAliases>
		<package name="com.mycode.bean" />
	</typeAliases>
	
	
	<plugins>
	   <plugin interceptor="com.github.pagehelper.PageInterceptor">
	      <!-- 调整分页参数的合理化，禁止出现低于1页或者搞最大页 -->
	   <property name="reasonable" value="true"/> 
	   </plugin>
	</plugins>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</configuration>